h1{
    background: #f1d285;
    color: #000000;
}
p{
    background: #ece5e0;
    color: #000000;
}
h2 {
    background: #f1d285;
    color: #000000;
}
ul > li {
    background: #fcf0e1;
    color: #000000;
}